server:
  port: 9090
logging:
  level:
    root: INFO
spring:
  batch:
    job:
      enabled: true
  datasource:
    url: jdbc:mysql://192.168.1.82:3330/test?characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Shanghai
    username: sino_dev
    password: ENC(R2XXjI4L8Fvx6fDp3VqdIw==)
  mail:
    host: smtp.qq.com
    port: 465
    default-encoding: utf-8
    username: 1270317991@qq.com
    password: wndnvsyteylbigig
    properties:
      mail:
        smtp:
          socketFactory:
            class: javax.net.ssl.SSLSocketFactory
          ssl:
            enable: true
          auth: true
  data:
    redis:
      host: 127.0.0.1
      port: 6379
      database: 1
      # 读超时
      timeout: 3000
      # 连接超时
      connectTimeout: 5000
      # Lettuce连接池
      lettuce:
        pool:
          # 最小空闲连接
          min-idle: 5
          # 最大空闲连接
          max-idle: 10
          # 最大连接数
          max-active: 100
          # 连接分配应该阻塞的最大时间
          max-wait: 2000
  cache:
    type: REDIS
    data:
      redis:
        host: 127.0.0.1
        username:
        port: 6379
        database: 2
        time-to-live: 1800000   #设置缓存过期时间，可选
        lettuce:
          pool:
            enabled: true
            max-active: 8
            max-wait: 1000
            max-idle: 8
        connect-timeout: 5000
  security:
    oauth2:
      client:
        registration:
          myOauth2:
            provider: myOauth2
            client-id: oidc-client
            client-secret: secret
            client-name: MyAuth
            authorization-grant-type: authorization_code
            redirect-uri: http://127.0.0.1:8101/login/oauth2/code/myOauth2
            #redirect-uri: https://www.baidu.com
            scope:
              - openid
              - profile
              - message.read
              - message.write
        provider:
          myOauth2:
            issuer-uri: http://127.0.0.1:9000



mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    workerId: ${random.int[1,31]}
    datacenterId: ${random.int[1,31]}


decorator:
  datasource:
    p6spy:
      # 全部可用参数参照该类：com.p6spy.engine.spy.appender.CustomLineFormat
      log-format: "\ntime:%(executionTime) || sql:%(sql)\n"
      # 自定义日志类的作用仅仅是改变了打印的颜色，如果不需要可以不加
      logging: custom
      custom-appender-class: com.example17.demo17.config.StdoutLogger


jasypt:
  encryptor:
    # 盐加密
    password: secrect
    # 指定加密方式
    algorithm: PBEWithMD5AndDES
    iv-generator-classname: org.jasypt.iv.NoIvGenerator


# token配置
app:
  jwt-secret: daf66e01593f61a15b857cf433aae03a005812b31234e149036bcc8dee755dbb
  jwt-expiration-milliseconds: 604800000

minio:
  endpoint: http://192.168.1.34:9001
  accessKey: minioadmin
  secretKey: minioadmin
  bucketName: sinoprof-bucket


############## Sa-Token 配置 (文档: https://sa-token.cc) ##############
sa-token:
  # 基础配置
  token-name: Authorization           # token名称
  timeout: 2592000                    # token有效期（30天）
  active-timeout: -1                  # 临时有效期（-1表示永不过期）(指定时间内无操作就视为token过期) 单位: 秒
  is-concurrent: true                 # 允许并发登录
  is-share: false                     # 不共享token
  token-style: random-128             # token风格
  is-log: true                        # 输出操作日志

  # 请求头配置
  is-read-cookie: false                # 不从cookie读取token
  is-read-header: true                 # 从请求头读取token
  #  token-prefix: "Bearer"               # token前缀
  # jwt秘钥
  jwt-secret-key: abcdefghijkl11mnopqrstuvwxyz
# security配置
security:
  # 排除路径
  excludes:
    - /auth/*
encryption:
  key: ${KEY:9876543210123456}       # 16位字符的加密密钥



# xxl-job 定时任务配置
xxl:
  job:
    admin:
      # 多个地址使用,分割
      addresses: http://192.168.1.34:9187/xxl-job-admin
    accessToken: default_token
    executor:
      appname: sino-inventory
      address:
      ip:
      port: 9999
      logpath: /data/applogs/xxl-job/jobhandler
      logretentiondays: 1
