<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example17.demo17.mapper.BigDataUsersMapper">
  <resultMap id="BaseResultMap" type="com.example17.demo17.entity.BigDataUsers">
    <!--@mbg.generated-->
    <!--@Table big_data_users-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="email" jdbcType="VARCHAR" property="email" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, age, email
  </sql>

  <select id="getList" resultMap="BaseResultMap">
    select id, `name`, age, email from big_data_users where id > #{params.id}
  </select>
</mapper>
